
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #4facfe, #00f2fe);
}


.container {
    width: 100%;
    max-width: 400px;
    padding: 25px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    text-align: center;
}


header {
    font-size: 26px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}


.search-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 10px 15px;
    margin-bottom: 20px;
}

.search-box input {
    
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 16px;
}
.search-box span button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #4facfe, #00f2fe);   
     color: white;
    font-size: 16px;
    cursor: pointer;
}
.search-box input:focus{
    border: none;
    outline: none;

}
.search-box button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    color: white;
    font-size: 16px;
    cursor: pointer;
}


.weather-card {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

#city-name {
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.temp {
    font-size: 36px;
    font-weight: bold;
    color: white;
    margin: 10px 0;
}

.condition {
    font-size: 18px;
    color: white;
    margin-bottom: 10px;
}

.speed {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 14px;
    margin-top: 10px;
}

.date {
    font-size: 14px;
    color: white;
    margin-top: 10px;
    opacity: 0.8;
}
